.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
  }

#placement-options
{
    padding-bottom: 2%;
}
.selector-btn
{
    margin-right: 5px;
}

#footer
{
    margin-top: 3%;
}

.hide
{
    display: none;
}