#placement-options {
  padding-bottom: 2%;
  width: fit-content;
  margin: 0 auto;
}
.selector-btn {
  margin-right: 5px;
}

.hide {
  display: none;
}

#header {
  height: 15vh;
}

#start-game {
  background: #ddd;
  padding: 5%;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
}

#board-space {
  height: 75vh;
}

#player-1 {
  width: 50%;
  margin: 0 auto;
}

.ship-outline {
  background-color: #373737;
}

.ship-clicked {
  background-color: #000;
}

.ship-outline-fail {
  background-color: red;
}

td
{
  height: 41px;
  width: 52px;
}

.hit 
{
  background-color: red;
}

.miss
{
  background-color: white;
}

#board
{
  width: 50%;
  margin: 0 auto;
}

table {
  margin-right: 3%;
}